In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
import matplotlib.pyplot as plt

In [6]:
movies_df = pd.read_csv('C:/Users/user/Desktop/IMDb/IMDb movies.csv')

In [7]:
movies_df

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,537,$ 2250,NaN,NaN,NaN,7.0,7.0
1,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.9,171,NaN,NaN,NaN,NaN,4.0,2.0
2,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,420,$ 45000,NaN,NaN,NaN,24.0,3.0
3,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2019,NaN,NaN,NaN,NaN,28.0,14.0
4,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,1913,"Biography, Drama",60,USA,English,Sidney Olcott,...,"R. Henderson Bland, Percy Dyer, Gene Gauntier,...","An account of the life of Jesus Christ, based ...",5.7,438,NaN,NaN,NaN,NaN,12.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81268,tt9903716,Jessie,Jessie,2019,2019-03-15,"Horror, Thriller",106,India,Telugu,Aswani Kumar V.,...,"Sritha Chandana, Pavani Gangireddy, Abhinav Go...","Set in an abandoned house, the film follows a ...",7.2,219,NaN,NaN,NaN,NaN,21.0,NaN
81269,tt9905412,Ottam,Ottam,2019,2019-03-08,Drama,120,India,Malayalam,Zam,...,"Nandu Anand, Roshan Ullas, Manikandan R. Achar...","Set in Trivandrum, the story of Ottam unfolds ...",7.8,510,INR 4000000,NaN,$ 4791,NaN,NaN,NaN
81270,tt9905462,Pengalila,Pengalila,2019,2019-03-08,Drama,111,India,Malayalam,T.V. Chandran,...,"Lal, Akshara Kishor, Iniya, Narain, Renji Pani...",An unusual bond between a sixty year old Dalit...,8.4,604,INR 10000000,NaN,NaN,NaN,NaN,NaN
81271,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,8.4,369,NaN,NaN,NaN,NaN,NaN,NaN
81272,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,7.2,190,NaN,NaN,$ 2833,NaN,NaN,NaN

In [8]:
movies_df.dropna(axis=1)

,imdb_title_id,title,original_title,year,date_published,genre,duration,avg_vote,votes
0,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,6.1,537
1,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,5.9,171
2,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,5.2,420
3,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,7.0,2019
4,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,1913,"Biography, Drama",60,5.7,438
...,...,...,...,...,...,...,...,...,...
81268,tt9903716,Jessie,Jessie,2019,2019-03-15,"Horror, Thriller",106,7.2,219
81269,tt9905412,Ottam,Ottam,2019,2019-03-08,Drama,120,7.8,510
81270,tt9905462,Pengalila,Pengalila,2019,2019-03-08,Drama,111,8.4,604
81271,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,8.4,369
81272,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,7.2,190

In [9]:
movies_df.duration = movies_df.duration.fillna(movies_df.duration.mean())

In [10]:
X = movies_df.iloc[:, :-1].values

In [11]:
y = movies_df.iloc[:, -1].values

In [12]:
column_names = movies_df.columns
print(column_names)

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics'],
      dtype='object')

In [13]:
movies_df.dtypes

imdb_title_id             object
title                     object
original_title            object
year                       int64
date_published            object
genre                     object
duration                   int64
country                   object
language                  object
director                  object
writer                    object
production_company        object
actors                    object
description               object
avg_vote                 float64
votes                      int64
budget                    object
usa_gross_income          object
worlwide_gross_income     object
metascore                float64
reviews_from_users       float64
reviews_from_critics     float64
dtype: object

In [14]:
for i in column_names:
  print('{} is unique: {}'.format(i, movies_df[i].is_unique))

imdb_title_id is unique: True
title is unique: False
original_title is unique: False
year is unique: False
date_published is unique: False
genre is unique: False
duration is unique: False
country is unique: False
language is unique: False
director is unique: False
writer is unique: False
production_company is unique: False
actors is unique: False
description is unique: False
avg_vote is unique: False
votes is unique: False
budget is unique: False
usa_gross_income is unique: False
worlwide_gross_income is unique: False
metascore is unique: False
reviews_from_users is unique: False
reviews_from_critics is unique: False

In [15]:
movies_df.index.values

array([    0,     1,     2, ..., 81270, 81271, 81272], dtype=int64)

In [16]:
del movies_df['usa_gross_income']

In [19]:
del movies_df['worlwide_gross_income']

In [20]:
del movies_df['metascore']

In [21]:
del movies_df['budget']

In [22]:
movies_df.isnull().sum()

imdb_title_id               0
title                       0
original_title              0
year                        0
date_published              0
genre                       0
duration                    0
country                    39
language                  755
director                   73
writer                   1493
production_company       4325
actors                     66
description              2430
avg_vote                    0
votes                       0
reviews_from_users       7077
reviews_from_critics    10987
dtype: int64

In [24]:
movies_df.isnull().sum().sum()

27245

In [25]:
print (movies_df['language'].isnull())

0         True
1         True
2        False
3        False
4        False
         ...
81268    False
81269    False
81270    False
81271    False
81272    False
Name: language, Length: 81273, dtype: bool

In [26]:
movies_df['language'].describe()

count       80518
unique       4251
top       English
freq        34519
Name: language, dtype: object

In [27]:
movies_df['language'].fillna('English',inplace = True)
movies_df['language']

0          English
1          English
2          English
3          Italian
4          English
           ...
81268       Telugu
81269    Malayalam
81270    Malayalam
81271    Malayalam
81272      Turkish
Name: language, Length: 81273, dtype: object

In [28]:
movies_df['language'].drop_duplicates()

0                                   English
3                                   Italian
5                                    German
9                                    Danish
10                                   French
                        ...
80991          English, Hungarian, Japanese
81062               Italian, Polish, French
81103             Tatar, Ukrainian, Russian
81179                      Italian, Bengali
81214    Thai, English, Mandarin, Cantonese
Name: language, Length: 4251, dtype: object

In [29]:
movies_df['country'].drop_duplicates()

0                                           Australia
1                                    Germany, Denmark
2                                                 USA
3                                               Italy
5                                             Germany
                             ...
81130                 France, Algeria, Belgium, Qatar
81157                                 China, Mongolia
81184               Argentina, Germany, Brazil, Spain
81185                             Indonesia, Malaysia
81207    Sudan, France, Egypt, Germany, Norway, Qatar
Name: country, Length: 4633, dtype: object

In [30]:
movies_df['country'].describe()

count     81234
unique     4632
top         USA
freq      27490
Name: country, dtype: object

In [31]:
movies_df['country'].isnull().sum()

39

In [32]:
movies_df['country'].fillna('Unknown',inplace = True)
movies_df['country']

0               Australia
1        Germany, Denmark
2                     USA
3                   Italy
4                     USA
               ...
81268               India
81269               India
81270               India
81271               India
81272              Turkey
Name: country, Length: 81273, dtype: object

In [33]:
movies_df['director'].drop_duplicates()

0                                             Charles Tait
1                                                Urban Gad
2                                       Charles L. Gaskill
3                      Francesco Bertolini, Adolfo Padovan
4                                            Sidney Olcott
                               ...
81264    Adam Bin Amiruddin, Syed Nurfaiz Khalid bin Sy...
81265                                     Robert Fernandez
81268                                      Aswani Kumar V.
81269                                                  Zam
81271                                      Vineesh Aaradya
Name: director, Length: 32545, dtype: object

In [34]:
movies_df['director'].describe()

count              81200
unique             32544
top       Michael Curtiz
freq                  86
Name: director, dtype: object

In [35]:
movies_df['director'].isnull().sum()

73

In [36]:
movies_df['director'].fillna('Unknown',inplace = True)
movies_df['director']

0                               Charles Tait
1                                  Urban Gad
2                         Charles L. Gaskill
3        Francesco Bertolini, Adolfo Padovan
4                              Sidney Olcott
                        ...
81268                        Aswani Kumar V.
81269                                    Zam
81270                          T.V. Chandran
81271                        Vineesh Aaradya
81272                      Ahmet Faik Akinci
Name: director, Length: 81273, dtype: object

In [37]:
movies_df['writer'].drop_duplicates()

0                                 Charles Tait
1        Urban Gad, Gebhard Schätzler-Perasini
2                             Victorien Sardou
3                              Dante Alighieri
4                                Gene Gauntier
                         ...
81267                         Lokesh Kanagaraj
81268                          Aswani Kumar V.
81269                         Rajesh k Narayan
81271         Vineesh Aaradya, Vineesh Aaradya
81272           Ahmet Faik Akinci, Kasim Uçkan
Name: writer, Length: 63336, dtype: object

In [38]:
movies_df['writer'].describe()

count         79780
unique        63335
top       Jing Wong
freq             81
Name: writer, dtype: object

In [39]:
movies_df['writer'].isnull().sum()

1493

In [41]:
movies_df['writer'].fillna('Unknown',inplace = True)
movies_df['writer']

0                                 Charles Tait
1        Urban Gad, Gebhard Schätzler-Perasini
2                             Victorien Sardou
3                              Dante Alighieri
4                                Gene Gauntier
                         ...
81268                          Aswani Kumar V.
81269                         Rajesh k Narayan
81270                            T.V. Chandran
81271         Vineesh Aaradya, Vineesh Aaradya
81272           Ahmet Faik Akinci, Kasim Uçkan
Name: writer, Length: 81273, dtype: object

In [42]:
movies_df['production_company'].drop_duplicates()

0                       J. and N. Tait
1                             Fotorama
2        Helen Gardner Picture Players
3                          Milano Film
4                        Kalem Company
                     ...
81268              Ekaa Art Production
81269          Thomas Thiruvalla Films
81270                Benzy Productions
81271                 RMCC Productions
81272                      Gizem Ajans
Name: production_company, Length: 30123, dtype: object

In [43]:
movies_df['production_company'].describe()

count                         76948
unique                        30122
top       Metro-Goldwyn-Mayer (MGM)
freq                           1290
Name: production_company, dtype: object

In [44]:
movies_df['production_company'].isnull().sum()

4325

In [45]:
movies_df['production_company'].fillna('Unknown',inplace = True)
movies_df['production_company']

0                       J. and N. Tait
1                             Fotorama
2        Helen Gardner Picture Players
3                          Milano Film
4                        Kalem Company
                     ...
81268              Ekaa Art Production
81269          Thomas Thiruvalla Films
81270                Benzy Productions
81271                 RMCC Productions
81272                      Gizem Ajans
Name: production_company, Length: 81273, dtype: object

In [46]:
movies_df['actors'].drop_duplicates()

0        Elizabeth Tait, John Tait, Norman Campbell, Be...
1        Asta Nielsen, Valdemar Psilander, Gunnar Helse...
2        Helen Gardner, Pearl Sindelar, Miss Fielding, ...
3        Salvatore Papa, Arturo Pirovano, Giuseppe de L...
4        R. Henderson Bland, Percy Dyer, Gene Gauntier,...
                               ...
81268    Sritha Chandana, Pavani Gangireddy, Abhinav Go...
81269    Nandu Anand, Roshan Ullas, Manikandan R. Achar...
81270    Lal, Akshara Kishor, Iniya, Narain, Renji Pani...
81271    Anoop Chandran, Indrans, Sona Nair, Simon Brit...
81272    Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...
Name: actors, Length: 81160, dtype: object

In [47]:
movies_df['actors'].describe()

count                                                 81207
unique                                                81159
top       Nobuyo Ôyama, Noriko Ohara, Michiko Nomura, Ka...
freq                                                     13
Name: actors, dtype: object

In [48]:
movies_df['actors'].isnull().sum()

66

In [49]:
movies_df['actors'].fillna('Unknown',inplace = True)
movies_df['actors']

0        Elizabeth Tait, John Tait, Norman Campbell, Be...
1        Asta Nielsen, Valdemar Psilander, Gunnar Helse...
2        Helen Gardner, Pearl Sindelar, Miss Fielding, ...
3        Salvatore Papa, Arturo Pirovano, Giuseppe de L...
4        R. Henderson Bland, Percy Dyer, Gene Gauntier,...
                               ...
81268    Sritha Chandana, Pavani Gangireddy, Abhinav Go...
81269    Nandu Anand, Roshan Ullas, Manikandan R. Achar...
81270    Lal, Akshara Kishor, Iniya, Narain, Renji Pani...
81271    Anoop Chandran, Indrans, Sona Nair, Simon Brit...
81272    Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...
Name: actors, Length: 81273, dtype: object

In [50]:
movies_df['description'].drop_duplicates()

0        True story of notorious Australian outlaw Ned ...
1        Two men of high rank are both wooing the beaut...
2        The fabled queen of Egypt's affair with Roman ...
3        Loosely adapted from Dante's Divine Comedy and...
4        An account of the life of Jesus Christ, based ...
                               ...
81266    A rich family are deciding to immigrate to the...
81267    A drug bust, an injured cop and a convicted cr...
81268    Set in an abandoned house, the film follows a ...
81269    Set in Trivandrum, the story of Ottam unfolds ...
81270    An unusual bond between a sixty year old Dalit...
Name: description, Length: 78728, dtype: object

In [51]:
movies_df['description'].describe()

count            78843
unique           78727
top       The story of
freq                11
Name: description, dtype: object

In [52]:
movies_df['description'].isnull().sum()

2430

In [53]:
movies_df['description'].fillna('Unknown',inplace = True)
movies_df['description']

0        True story of notorious Australian outlaw Ned ...
1        Two men of high rank are both wooing the beaut...
2        The fabled queen of Egypt's affair with Roman ...
3        Loosely adapted from Dante's Divine Comedy and...
4        An account of the life of Jesus Christ, based ...
                               ...
81268    Set in an abandoned house, the film follows a ...
81269    Set in Trivandrum, the story of Ottam unfolds ...
81270    An unusual bond between a sixty year old Dalit...
81271                                              Unknown
81272                                              Unknown
Name: description, Length: 81273, dtype: object

In [54]:
Review = movies_df['reviews_from_users'].median()
movies_df['reviews_from_users'].fillna(Review,inplace = True)
movies_df['reviews_from_users']

0         7.0
1         4.0
2        24.0
3        28.0
4        12.0
         ...
81268    21.0
81269     9.0
81270     9.0
81271     9.0
81272     9.0
Name: reviews_from_users, Length: 81273, dtype: float64

In [55]:
Review = movies_df['reviews_from_critics'].median()
movies_df['reviews_from_critics'].fillna(Review,inplace = True)
movies_df['reviews_from_critics']

0         7.0
1         2.0
2         3.0
3        14.0
4         5.0
         ...
81268     8.0
81269     8.0
81270     8.0
81271     8.0
81272     8.0
Name: reviews_from_critics, Length: 81273, dtype: float64

In [56]:
movies_df.isnull().sum()

imdb_title_id           0
title                   0
original_title          0
year                    0
date_published          0
genre                   0
duration                0
country                 0
language                0
director                0
writer                  0
production_company      0
actors                  0
description             0
avg_vote                0
votes                   0
reviews_from_users      0
reviews_from_critics    0
dtype: int64

In [57]:
movies_df

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes,reviews_from_users,reviews_from_critics
0,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,English,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,537,7.0,7.0
1,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",English,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.9,171,4.0,2.0
2,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,420,24.0,3.0
3,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2019,28.0,14.0
4,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,1913,"Biography, Drama",60,USA,English,Sidney Olcott,Gene Gauntier,Kalem Company,"R. Henderson Bland, Percy Dyer, Gene Gauntier,...","An account of the life of Jesus Christ, based ...",5.7,438,12.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81268,tt9903716,Jessie,Jessie,2019,2019-03-15,"Horror, Thriller",106,India,Telugu,Aswani Kumar V.,Aswani Kumar V.,Ekaa Art Production,"Sritha Chandana, Pavani Gangireddy, Abhinav Go...","Set in an abandoned house, the film follows a ...",7.2,219,21.0,8.0
81269,tt9905412,Ottam,Ottam,2019,2019-03-08,Drama,120,India,Malayalam,Zam,Rajesh k Narayan,Thomas Thiruvalla Films,"Nandu Anand, Roshan Ullas, Manikandan R. Achar...","Set in Trivandrum, the story of Ottam unfolds ...",7.8,510,9.0,8.0
81270,tt9905462,Pengalila,Pengalila,2019,2019-03-08,Drama,111,India,Malayalam,T.V. Chandran,T.V. Chandran,Benzy Productions,"Lal, Akshara Kishor, Iniya, Narain, Renji Pani...",An unusual bond between a sixty year old Dalit...,8.4,604,9.0,8.0
81271,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,"Vineesh Aaradya, Vineesh Aaradya",RMCC Productions,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",Unknown,8.4,369,9.0,8.0
81272,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,"Ahmet Faik Akinci, Kasim Uçkan",Gizem Ajans,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",Unknown,7.2,190,9.0,8.0

In [58]:
movies_df.describe()

,year,duration,avg_vote,votes,reviews_from_users,reviews_from_critics
count,81273.000000,81273.000000,81273.000000,8.127300e+04,81273.000000,81273.000000
mean,1993.007210,100.565981,5.926587,9.421771e+03,40.726994,25.290010
std,23.992284,25.320189,1.243315,5.220245e+04,153.096881,55.022677
min,1906.000000,40.000000,1.000000,9.900000e+01,1.000000,1.000000
25%,1979.000000,88.000000,5.200000,2.060000e+02,4.000000,4.000000
50%,2002.000000,96.000000,6.100000,4.950000e+02,9.000000,8.000000
75%,2012.000000,108.000000,6.800000,1.865000e+03,23.000000,20.000000
max,2019.000000,3360.000000,10.000000,2.159628e+06,8302.000000,987.000000